*{

margin: 0;
box-sizing: border-box;

}


body{

  font-family: Arial, Helvetica, sans-serif;

}

.main-header{

  width: 100%;
  height: 200px;
  background-color: #20222f;
  padding: 20px 110px;

}

/*este queda pendiente porque nose como hacer darkmode aun*/
.header-conteiner-tittle{

 display: flex;


}

.conteiner-tittle__h1{

  font-size: 28px;
  color: #fff;


}

.conteiner-tittle__h2{

 font-size: 15px;
 color: #939bc0;


}

.container-socialmedia-dashboard{


 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 background-color: #1d2029;



}

.socialmedia-dashboard-generalstatics{

   width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;  

}

.socialmedia-dashboard-facebook{
 
    width: 230px;
    height: 200px;
    background-color: #252b43;
    border-radius: 2px 2px 0px 0px;
    border-top: 3px #1c8df5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-right: 25px;
    padding: 20px 20px;

}

.dashboard-facebook-username{

    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 17px;


}

.dashboard-followers{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}




.socialmedia-dashboard-twitter{

    width: 230px;
    height: 200px;
    background-color: #252b43;
    border-radius: 2px 2px 0px 0px;
    border-top: 3px #1c8df5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    padding: 20px 20px;



}


.dashboard-twitter-username{
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 17px;



}



.socialmedia-dashboard-instagram{

  width: 230px;
  height: 200px;
  background-color: #252b43;
  border-radius: 2px 2px 0px 0px;
  border-top: 3px #f58a80 solid;
  border-image-slice: 1;
  border-image: linear-gradient(90deg, #fbb96d,#f4897f,#de5490);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-right: 25px;
  padding: 20px 20px;


}

.dashboard-instagram-username{
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 17px;


}

.socialmedia-dashboard-youtube{
width: 230px;
height: 200px;
background-color: #252b43;
border-radius: 2px 2px 0px 0px;
border-top: 3px #c1022b solid;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; 
margin-right: 25px;
padding: 20px 20px;

}

.dashboard-youtube-username{
  width: 110px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 17px;


}


.container-overwiev{

  width: 100%;
  height: 800px;
}
/*estos selectores estan aplicados para varios elementos*/


.socialmedia-username__all{

    color: #8790bb;
    display: inline-block;
    padding-top: 5px;
    margin-left: 7px;
    font-size: 10px;



}


.dashboard-followers__number{
 
    color: #fff;
    font-size: 50px;
    font-weight: bold;



}

.dashboard-followers__title{

  color: #656c88;  
  font-size: 14px;
  

}

.dashboard-statistics__number{

 margin-top: 20px;   
 font-size: 13px;

}


.grew_up{

    color: #2ea089;

}

.down{

   color: #ba464f;

}