*{

margin: 0;
box-sizing: border-box;

}


body{

  font-family: Arial, Helvetica, sans-serif;

}

.main-header{

  width: 100%;
  height: 200px;
  background-color: #20222f;
  padding: 20px 110px;
  margin-bottom: 120px;

}

/*este queda pendiente porque nose como hacer darkmode aun*/
.header-conteiner-tittle{

 display: flex;


}

.conteiner-tittle__h1{

  font-size: 28px;
  color: #fff;
  margin-left: 15px;


}

.conteiner-tittle__h2{

 
 font-size: 15px;
 color: #939bc0;
 margin-bottom: 40px;
 margin-left: 15px;


}

.container-socialmedia-dashboard{


 width: 100%;
 height: 1000px;
 display: flex;
 flex-direction: column;
 background-color: #1d2029;



}



.socialmedia-dashboard-generalstatics{

   width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;  
   
   

}

.socialmedia-dashboard-facebook{
 
    width: 250px;
    height: 210px;
    background-color: #252b43;
    border-radius: 2px 2px 0px 0px;
    border-top: 3px #1c8df5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-right: 25px;
    padding: 20px 20px;

}

.dashboard-facebook-username{

    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 17px;


}

.dashboard-followers{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.socialmedia-dashboard-twitter{

    width: 250px;
    height: 210px;
    background-color: #252b43;
    border-radius: 2px 2px 0px 0px;
    border-top: 3px #1c8df5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    padding: 20px 20px;



}


.dashboard-twitter-username{
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 17px;

}

.socialmedia-dashboard-instagram{

  width: 250px;
  height: 210px;
  background-color: #252b43;
  border-radius: 2px 2px 0px 0px;
  border-top: 3px #f58a80 solid;
  border-image: linear-gradient(90deg, #fbb96d,#f4897f,#de5490);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-right: 25px;
  padding: 20px 20px;


}

.dashboard-instagram-username{
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 17px;


}

.socialmedia-dashboard-youtube{
  width: 250px;
  height: 210px;
background-color: #252b43;
border-radius: 2px 2px 0px 0px;
border-top: 3px #c1022b solid;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; 
margin-right: 25px;
padding: 20px 20px;

}

.dashboard-youtube-username{
  width: 110px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 17px;


}


.container-overview{

  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  
}

.container-overview__subtitle{


  margin-top: 40px;
 
  

}

.container-overview__subtitle h2{
  
  display: inline-block;
  padding-left: 125px;
  color: #fff;
}


.container-overview-one{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
 

}

.container-overview-two{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
 

}

.overview-facebook-pageviews{
    width: 250px;
    height: 100px;
    background-color: #252b43;

}


.posicion{

 border-radius: 6px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 20px;
 
 



}

.posicion2{

display: flex;
flex-direction: row;
justify-content: space-between;


}


.overview-facelikes-pageviews{

  width: 250px;
  height: 100px;
  background-color: #252b43;
}

/*estos selectores estan aplicados para varios elementos*/

.overview-instalikes-pageviews{
  width: 250px;
  height: 100px;
  background-color: #252b43;


}
.overview-instagram-pageviews{
  width: 250px;
  height: 100px;
  background-color: #252b43;


}


.overview-twiretweets-pageviews{

  width: 250px;
  height: 100px;
  background-color: #252b43;

}

.overview-twitterlikes-pageviews{

  width: 250px;
  height: 100px;
  background-color: #252b43;


}

.overview-youtubelikes-pageviews{

  width: 250px;
  height: 100px;
  background-color: #252b43;



}

.overview-youtube-pageviews{
  width: 250px;
  height: 100px;
  background-color: #252b43;

}


.socialmedia-username__all{

    color: #8790bb;
    display: inline-block;
    padding-top: 5px;
    margin-left: 7px;
    font-size: 10px;



}


.dashboard-followers__number{
 
    color: #fff;
    font-size: 50px;
    font-weight: bold;



}

.dashboard-followers__title{

  color: #656c88;  
  font-size: 13px;
  letter-spacing: 2px;
  

}

.dashboard-statistics__number{

 margin-top: 20px;   
 font-size: 13px;

}


.grew_up{

    color: #2ea089;
    font-size: 11px;
    padding-top: 8px;

}

.down{

   color: #ba464f;
   font-size: 11px;
   padding-top: 8px;
}

.space{

  margin-right: 25px;
  margin-bottom: 20px;

}

.pageviews-titles__all{

 color: #6b7493;
 font-size: 12px;

}

.pageviews-number__all{

  color: #fff;
  font-size: 20px;
  font-weight: bold;


}